*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}
.heade{
    width: 100%;
    text-align: center;
    padding: 2rem 0rem;
}
.heade h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heade h2{
    margin: 1rem 0rem;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    justify-content: center;
    position: relative;
}
.inp-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    font-size: 48px;
    cursor: pointer;
    border: none;
}
.inp-box:hover{
    background-color: #ccc;
}
.inp-box.x::before{
    content: "X";
    color: blue;
}
.inp-box.o::before{
    content: "O";
    color: red;
}
.line{
    /* width: 36%; */
    height: 0.7vh;
    background: #000;
    position: absolute;
    z-index: 2;
    /* right: 0%; */
    /* left: 32%; */
}
/* .winr{
    transform: rotate(90deg);
    left: 10rem;
    top: 9.2rem;
} */
/* .winmr{
    transform: rotate(90deg);
        left: 16.5rem;
        top: 9.2rem;
} */
/* .winl{
    transform: rotate(90deg);
        left: 22.5rem;
        top: 9.2rem;
} */
/* .wint{
    top: 3.5rem;
} */
/* .winm{
    top: 9.5rem;
} */
/* .winb{
    top: 15.5rem;
} */
/* .winlr{
    width: 50%;
        transform: rotate(135deg);
        top: 9.2rem;
        left: 13rem;
} */
/* .winrl{
    width: 50%;
    transform: rotate(225deg);
    top: 9.2rem;
    left: 13rem;
} */
.mbline{
    border: 2px solid black;
}
.fbline{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
}
.lbline{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
}
.tbline{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: none;
    border-bottom: none;
}
.bbline{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: none;
    border-bottom: none;
}